openapi: 3.0.0
info:
  title: PlantUML API Service
  description: A comprehensive service that generates various types of UML diagrams and other visualizations using PlantUML code
  version: 2.0.0
  contact:
    name: API Support
    email: support@chira.tech
servers:
  - url: https://uml.chira.tech:3000/api
    description: Production server
paths:
  /generate-uml:
    post:
      summary: Generate UML Diagram
      description: Generates a diagram from the provided PlantUML code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UMLRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UMLResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    UMLRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: string
          description: PlantUML code to generate the diagram
          example: "@startuml\nAlice -> Bob: Hello\nBob --> Alice: Hi there\n@enduml"
        diagramType:
          type: string
          description: Type of diagram (optional, for informational purposes)
          enum: [activity, class, component, deployment, er, gantt, mindmap, object, sequence, state, timing, usecase, archimate, nwdiag, salt, json, yaml, math]
    UMLResponse:
      type: object
      properties:
        imageUrl:
          type: string
          description: URL of the generated diagram image
          example: "https://uml.chira.tech/images/12345678-1234-1234-1234-123456789012.png"
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          example: "Failed to generate diagram"

tags:
  - name: Diagrams
    description: UML and other diagram generation endpoints

externalDocs:
  description: PlantUML Official Documentation
  url: https://plantuml.com/